In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
# Import the data
file_path = Path("lending_data.csv")
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [5]:
df["loan_status"].value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

In [6]:
df.dtypes

loan_size           float64
interest_rate       float64
borrower_income       int64
debt_to_income      float64
num_of_accounts       int64
derogatory_marks      int64
total_debt            int64
loan_status           int64
dtype: object

In [7]:
df.columns

Index(['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income',
       'num_of_accounts', 'derogatory_marks', 'total_debt', 'loan_status'],
      dtype='object')

In [8]:
# Define the X (features) and y (target) sets
y = df["loan_status"].values
X = df.drop("loan_status", axis=1)
target_names = ["low risk", "high risk"]

In [9]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
63243,8900.0,6.893,45500,0.340659,3,0,15500
36991,9000.0,6.932,45800,0.344978,3,0,15800
39985,8900.0,6.896,45500,0.340659,3,0,15500
63047,9000.0,6.961,46100,0.349241,3,0,16100
49913,8400.0,6.712,43800,0.315068,3,0,13800

In [10]:
X_test.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
67504,8100.0,6.575,42500,0.294118,2,0,12500
55887,9000.0,6.930,45800,0.344978,3,0,15800
14010,9900.0,7.345,49700,0.396378,4,0,19700
43768,9100.0,6.976,46200,0.350649,3,0,16200
24257,10100.0,7.427,50500,0.405941,4,1,20500

# Create a logistic regression model, fit it to the data, and print the model's score

In [11]:
# Create the logistic model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model

LogisticRegression()

In [12]:
param_grid = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],
    'tol': [0.00001, 0.0001, 0.001]
}
param_grid

{'C': [0.001, 0.01, 0.1, 1, 10, 100], 'tol': [1e-05, 0.0001, 0.001]}

In [13]:
from sklearn.model_selection import GridSearchCV
grid_clf = GridSearchCV(model, param_grid, verbose=3)

In [14]:
# Fit the model by using the grid search classifier. 
# This will take the LogisticRegression model and try each combination of parameters.
grid_clf.fit(X_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV 1/5] END ................C=0.001, tol=1e-05;, score=0.994 total time=   0.3s
[CV 2/5] END ................C=0.001, tol=1e-05;, score=0.991 total time=   0.4s
[CV 3/5] END ................C=0.001, tol=1e-05;, score=0.990 total time=   0.3s
[CV 4/5] END ................C=0.001, tol=1e-05;, score=0.992 total time=   0.3s
[CV 5/5] END ................C=0.001, tol=1e-05;, score=0.992 total time=   0.4s
[CV 1/5] END ...............C=0.001, tol=0.0001;, score=0.994 total time=   0.3s
[CV 2/5] END ...............C=0.001, tol=0.0001;, score=0.991 total time=   0.4s
[CV 3/5] END ...............C=0.001, tol=0.0001;, score=0.990 total time=   0.4s
[CV 4/5] END ...............C=0.001, tol=0.0001;, score=0.992 total time=   0.3s
[CV 5/5] END ...............C=0.001, tol=0.0001;, score=0.992 total time=   0.3s
[CV 1/5] END ................C=0.001, tol=0.001;, score=0.994 total time=   0.3s
[CV 2/5] END ................C=0.001, tol=0.001;, score=0.991 total time=   0.4s
[CV 3/5] END ................C=0.001, tol=0.001;, score=0.990 total time=   0.3s
[CV 4/5] END ................C=0.001, tol=0.001;, score=0.992 total time=   0.4s
[CV 5/5] END ................C=0.001, tol=0.001;, score=0.992 total time=   0.3s
[CV 1/5] END .................C=0.01, tol=1e-05;, score=0.994 total time=   0.3s
[CV 2/5] END .................C=0.01, tol=1e-05;, score=0.991 total time=   0.4s
[CV 3/5] END .................C=0.01, tol=1e-05;, score=0.990 total time=   0.3s
[CV 4/5] END .................C=0.01, tol=1e-05;, score=0.992 total time=   0.3s
[CV 5/5] END .................C=0.01, tol=1e-05;, score=0.992 total time=   0.4s
[CV 1/5] END ................C=0.01, tol=0.0001;, score=0.994 total time=   0.3s
[CV 2/5] END ................C=0.01, tol=0.0001;, score=0.991 total time=   0.3s
[CV 3/5] END ................C=0.01, tol=0.0001;, score=0.990 total time=   0.4s
[CV 4/5] END ................C=0.01, tol=0.0001;, score=0.992 total time=   0.3s
[CV 5/5] END ................C=0.01, tol=0.0001;, score=0.992 total time=   0.3s
[CV 1/5] END .................C=0.01, tol=0.001;, score=0.994 total time=   0.3s
[CV 2/5] END .................C=0.01, tol=0.001;, score=0.991 total time=   0.3s
[CV 3/5] END .................C=0.01, tol=0.001;, score=0.990 total time=   0.3s
[CV 4/5] END .................C=0.01, tol=0.001;, score=0.992 total time=   0.4s
[CV 5/5] END .................C=0.01, tol=0.001;, score=0.992 total time=   0.3s
[CV 1/5] END ..................C=0.1, tol=1e-05;, score=0.994 total time=   0.3s
[CV 2/5] END ..................C=0.1, tol=1e-05;, score=0.991 total time=   0.4s
[CV 3/5] END ..................C=0.1, tol=1e-05;, score=0.990 total time=   0.3s
[CV 4/5] END ..................C=0.1, tol=1e-05;, score=0.992 total time=   0.3s
[CV 5/5] END ..................C=0.1, tol=1e-05;, score=0.992 total time=   0.4s
[CV 1/5] END .................C=0.1, tol=0.0001;, score=0.994 total time=   0.3s
[CV 2/5] END .................C=0.1, tol=0.0001;, score=0.991 total time=   0.4s
[CV 3/5] END .................C=0.1, tol=0.0001;, score=0.990 total time=   0.3s
[CV 4/5] END .................C=0.1, tol=0.0001;, score=0.992 total time=   0.3s
[CV 5/5] END .................C=0.1, tol=0.0001;, score=0.992 total time=   0.3s
[CV 1/5] END ..................C=0.1, tol=0.001;, score=0.994 total time=   0.3s
[CV 2/5] END ..................C=0.1, tol=0.001;, score=0.991 total time=   0.4s
[CV 3/5] END ..................C=0.1, tol=0.001;, score=0.990 total time=   0.4s
[CV 4/5] END ..................C=0.1, tol=0.001;, score=0.992 total time=   0.3s
[CV 5/5] END ..................C=0.1, tol=0.001;, score=0.992 total time=   0.3s
[CV 1/5] END ....................C=1, tol=1e-05;, score=0.994 total time=   0.3s
[CV 2/5] END ....................C=1, tol=1e-05;, score=0.991 total time=   0.4s
[CV 3/5] END ....................C=1, tol=1e-05;, score=0.990 total time=   0.3s
[CV 4/5] END ....................C=1, tol=1e-05;, score=0.992 total time=   0.3s
[CV 5/5] END ....................C=1, tol=1e-05;, score=0.992 total time=   0.3s
[CV 1/5] END ...................C=1, tol=0.0001;, score=0.994 total time=   0.3s
[CV 2/5] END ...................C=1, tol=0.0001;, score=0.991 total time=   0.4s
[CV 3/5] END ...................C=1, tol=0.0001;, score=0.990 total time=   0.4s
[CV 4/5] END ...................C=1, tol=0.0001;, score=0.992 total time=   0.3s
[CV 5/5] END ...................C=1, tol=0.0001;, score=0.992 total time=   0.4s
[CV 1/5] END ....................C=1, tol=0.001;, score=0.994 total time=   0.3s
[CV 2/5] END ....................C=1, tol=0.001;, score=0.991 total time=   0.4s
[CV 3/5] END ....................C=1, tol=0.001;, score=0.990 total time=   0.3s
[CV 4/5] END ....................C=1, tol=0.001;, score=0.992 total time=   0.3s
[CV 5/5] END ....................C=1, tol=0.001;, score=0.992 total time=   0.4s
[CV 1/5] END ...................C=10, tol=1e-05;, score=0.994 total time=   0.3s
[CV 2/5] END ...................C=10, tol=1e-05;, score=0.991 total time=   0.4s
[CV 3/5] END ...................C=10, tol=1e-05;, score=0.990 total time=   0.3s
[CV 4/5] END ...................C=10, tol=1e-05;, score=0.992 total time=   0.3s
[CV 5/5] END ...................C=10, tol=1e-05;, score=0.992 total time=   0.3s
[CV 1/5] END ..................C=10, tol=0.0001;, score=0.994 total time=   0.3s
[CV 2/5] END ..................C=10, tol=0.0001;, score=0.991 total time=   0.4s
[CV 3/5] END ..................C=10, tol=0.0001;, score=0.990 total time=   0.4s
[CV 4/5] END ..................C=10, tol=0.0001;, score=0.992 total time=   0.3s
[CV 5/5] END ..................C=10, tol=0.0001;, score=0.992 total time=   0.4s
[CV 1/5] END ...................C=10, tol=0.001;, score=0.994 total time=   0.3s
[CV 2/5] END ...................C=10, tol=0.001;, score=0.991 total time=   0.4s
[CV 3/5] END ...................C=10, tol=0.001;, score=0.990 total time=   0.4s
[CV 4/5] END ...................C=10, tol=0.001;, score=0.992 total time=   0.3s
[CV 5/5] END ...................C=10, tol=0.001;, score=0.992 total time=   0.3s
[CV 1/5] END ..................C=100, tol=1e-05;, score=0.994 total time=   0.3s
[CV 2/5] END ..................C=100, tol=1e-05;, score=0.991 total time=   0.3s
[CV 3/5] END ..................C=100, tol=1e-05;, score=0.990 total time=   0.3s
[CV 4/5] END ..................C=100, tol=1e-05;, score=0.992 total time=   0.3s
[CV 5/5] END ..................C=100, tol=1e-05;, score=0.992 total time=   0.6s
[CV 1/5] END .................C=100, tol=0.0001;, score=0.994 total time=   0.3s
[CV 2/5] END .................C=100, tol=0.0001;, score=0.991 total time=   0.7s
[CV 3/5] END .................C=100, tol=0.0001;, score=0.990 total time=   0.3s
[CV 4/5] END .................C=100, tol=0.0001;, score=0.992 total time=   0.6s
[CV 5/5] END .................C=100, tol=0.0001;, score=0.992 total time=   0.3s
[CV 1/5] END ..................C=100, tol=0.001;, score=0.994 total time=   0.3s
[CV 2/5] END ..................C=100, tol=0.001;, score=0.991 total time=   0.4s
[CV 3/5] END ..................C=100, tol=0.001;, score=0.990 total time=   0.3s
[CV 4/5] END ..................C=100, tol=0.001;, score=0.992 total time=   0.3s
[CV 5/5] END ..................C=100, tol=0.001;, score=0.992 total time=   0.4s

GridSearchCV(estimator=LogisticRegression(),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100],
                         'tol': [1e-05, 0.0001, 0.001]},
             verbose=3)

In [15]:
# List the best parameters for this dataset
print(grid_clf.best_params_)

{'C': 0.001, 'tol': 1e-05}

In [16]:
# List the best score
print(grid_clf.best_score_)

0.99186611845342

In [17]:
# Make predictions with the hypertuned model
predictions = grid_clf.predict(X_test)
predictions

array([0, 0, 0, ..., 0, 0, 0])

In [18]:
# Score the hypertuned model on the test dataset
grid_clf.score(X_test, y_test)

0.9924680148576145

In [19]:
# Calculate the classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    low risk       1.00      1.00      1.00     18792
   high risk       0.85      0.91      0.88       592

    accuracy                           0.99     19384
   macro avg       0.93      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

In [20]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [21]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [22]:
# Train a Logistic Regression model print the model score
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9919177328380795
Testing Data Score: 0.9924680148576145